.foster-homepage {
  display: flex;
  height: 100vh;
  background: url("https://www.familyfosteringpartners.co.uk/wp-content/uploads/2016/03/shutterstock_138867431.jpg")
    no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 230px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ffd166;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: block;
}

.sidebar a:hover {
  color: #ffd166;
}

.main-content {
  flex: 1;
  color: white;
  padding: 70px;
  background: rgba(0, 0, 0, 0.45);
}

.main-content h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
}
